USE [master]
GO
/****** Object:  Database [DATN]    Script Date: 11/30/2024 3:42:59 PM ******/
CREATE DATABASE [DATN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DATN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DATN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DATN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DATN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DATN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DATN]
GO
/****** Object:  User [nv_1]    Script Date: 11/30/2024 3:42:59 PM ******/
CREATE USER [nv_1] FOR LOGIN [nv_1] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [nv_1]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [nv_1]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [nv_1]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [nv_1]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [nv_1]
GO
ALTER ROLE [db_datareader] ADD MEMBER [nv_1]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [nv_1]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 11/30/2024 3:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[id] [nvarchar](20) NULL,
	[admin_name] [nvarchar](50) NULL,
	[admin_email] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Devices]    Script Date: 11/30/2024 3:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devices](
	[IP_Address] [nvarchar](15) NOT NULL,
	[Device_Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IP_Address] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Devices_Productivity]    Script Date: 11/30/2024 3:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devices_Productivity](
	[IP_Address] [nvarchar](15) NULL,
	[Total_Product] [int] NULL,
	[Electric_Product] [int] NULL,
	[Clothes_Product] [int] NULL,
	[Diff_Product] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 11/30/2024 3:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID_Product] [nvarchar](10) NOT NULL,
	[ID_Type_Product] [nvarchar](10) NULL,
	[Name_Product] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type_Product]    Script Date: 11/30/2024 3:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_Product](
	[ID_Type_Product] [nvarchar](10) NOT NULL,
	[Name_Type_Product] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Type_Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Weigh_Certificate]    Script Date: 11/30/2024 3:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Weigh_Certificate](
	[ID_Product] [nvarchar](10) NULL,
	[Weighs] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Weigh_Non_Certificate]    Script Date: 11/30/2024 3:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Weigh_Non_Certificate](
	[ID_Product] [nvarchar](50) NULL,
	[Weighs] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Admin] ([id], [admin_name], [admin_email]) VALUES (N'nv_1', N'Nguyễn Huy Hoàng', N'hoangnguyenhuy18012002@gmail.com')
GO
INSERT [dbo].[Devices] ([IP_Address], [Device_Name]) VALUES (N'100.108.95.105', N'RaspberryPI_4')
GO
INSERT [dbo].[Devices_Productivity] ([IP_Address], [Total_Product], [Electric_Product], [Clothes_Product], [Diff_Product]) VALUES (N'100.108.95.105', 2, 1, 0, 1)
GO
INSERT [dbo].[Products] ([ID_Product], [ID_Type_Product], [Name_Product]) VALUES (N'IP15', N'TBDT', N'iPhone 15')
INSERT [dbo].[Products] ([ID_Product], [ID_Type_Product], [Name_Product]) VALUES (N'NK_S1', N'QA', N'Nike Short')
INSERT [dbo].[Products] ([ID_Product], [ID_Type_Product], [Name_Product]) VALUES (N'SS_24', N'TBDT', N'Samsung Galaxy S24 Ultra')
GO
INSERT [dbo].[Type_Product] ([ID_Type_Product], [Name_Type_Product]) VALUES (N'Add', N'Android')
INSERT [dbo].[Type_Product] ([ID_Type_Product], [Name_Type_Product]) VALUES (N'QA', N'Quan ao')
INSERT [dbo].[Type_Product] ([ID_Type_Product], [Name_Type_Product]) VALUES (N'TBDT', N'Thiet bi dien tu')
GO
INSERT [dbo].[Weigh_Certificate] ([ID_Product], [Weighs]) VALUES (N'IP15', 0.5)
INSERT [dbo].[Weigh_Certificate] ([ID_Product], [Weighs]) VALUES (N'NK_S1', 0.2)
INSERT [dbo].[Weigh_Certificate] ([ID_Product], [Weighs]) VALUES (N'SS_24', 0.75)
GO
INSERT [dbo].[Weigh_Non_Certificate] ([ID_Product], [Weighs]) VALUES (N'TTY_WF', 0.2)
INSERT [dbo].[Weigh_Non_Certificate] ([ID_Product], [Weighs]) VALUES (N'ESP_32', 0.1)
INSERT [dbo].[Weigh_Non_Certificate] ([ID_Product], [Weighs]) VALUES (N'ABCD', -8.3299999237060547)
GO
ALTER TABLE [dbo].[Devices_Productivity]  WITH CHECK ADD FOREIGN KEY([IP_Address])
REFERENCES [dbo].[Devices] ([IP_Address])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([ID_Type_Product])
REFERENCES [dbo].[Type_Product] ([ID_Type_Product])
GO
ALTER TABLE [dbo].[Weigh_Certificate]  WITH CHECK ADD FOREIGN KEY([ID_Product])
REFERENCES [dbo].[Products] ([ID_Product])
GO
USE [master]
GO
